* {
    font-family: 'Open Sans', sans-serif;
}

#project-container {
  max-width: 100%;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

body {
  background-image: url('https://i.imgur.com/W4LJ2cC.jpg');
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 15px;
  background-color: white;
}

.sectionHeader {
  margin-bottom: 50px;
  margin-top: 50px;

  padding: 5px;
  text-align: center;
  color: white;
}
/* 
#logo {
  border: 2px solid black;
  padding: 5px;
  border-radius: 6px;
  width: 25px;
  text-align: center;
  margin: 15px;
} */

.navLinks {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: larger;
}

.container {
  position: absolute;
  top:0;
  left:0;
  width:auto;
  z-index:1;
}

#header-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  border-radius: 6px;
  margin-bottom: 100px;
}



#about-me-container {
  background-color: rgba(0, 0, 0, .5);
  margin: 25px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.active {
  display: block;
}

.landing-text {
  margin-bottom: 70px;
}

li {
 list-style-type: none;
}

#about-header {
  color: white;
  text-align: center;
}


.about-body{
  font-size: 14px;
  text-align: left;
  padding: 10px;
  color: white;
}

.technologies {
  font-size: 36px;
  padding: 10px;
}

#about-me-div {
    line-height: 2em;
    font-size: 16px;
    text-align: center;
    margin: 25px;
}



#project-container {
  /* background-color: lightgrey; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;  
  height: auto;
  width: 300px;
  margin: 30px;
}

.project-header {
  margin-bottom: 30px;
}

.project-buttons {
  display: flex;
  justify-content: center;
  color: rgb(63, 63, 62);
}


.project-description {
  font-size: 18px;
  line-height: 2em;
  text-align: left;
  color: rgb(63, 63, 62);
  padding:  10px;
}

#quiz {
  width: 300px;
  margin: 10px;
  height: 250px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
}

.view-button {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 50px;
  border: 1px solid grey;
  border-radius: 6px;
  width: 40%;
  padding: 5px;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.view-button:hover {
  border: 1px solid black;
}

#name {
  padding-top: 15px;
  text-align: center;
  margin-left: 10px;
  color: white;
}


h1 {
    color: black;
    font-weight: 1000;
    border-width: 25%;
    text-align: center;
    
  }
  
.two {
  border:1px solid #662B29;
  border-radius: 25px;
  background-color: rgba(179, 110, 107, .8);
  display: flex;
  height: 25%;
  font-size: 18px;
  margin: 25px;
  padding: 7px;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.one {
  border:1px solid #662B29;
  border-radius: 25px;
  background-color: rgba(179, 110, 107, .8);
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  height: 25%;
  font-size: 18px;
  margin: 25px;
  padding: 7px;
}


.slider:hover {
  background-color: rgba(179, 110, 107, .6);
}


footer {
    line-height: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .icon {
    padding:75px 30px 75px 30px;
    flex-direction: row;
    font-size: 30px;
    color: black;
  }

  i:hover {
    color: salmon;
  }

.mywork {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
  color: white;
}

@media screen and (min-width: 600px) {
  
  #name {
    padding-top: 15px;
    text-align: center;
    margin: 50px;
  }

  #header-container {
    background-color: rgba(0, 0, 0, .5);
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  
    margin-bottom: 350px;
  }
  
  .landing-text {
    color: white;
    font-size: larger;
  }
  
  
  #about-me-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
  }

  .about-body {
    font-size: larger;
    line-height: 2em;
    margin: 50px;
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;  
    height: auto;
    width: 400px;
    margin: 30px;
  }
  
}


@media screen and (min-width: 800px) {
  
  #name {
    padding-top: 15px;
    text-align: center;
    margin: 200px;
  }

  #header-container {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  
    margin-bottom: 250px;
  }
  
  .landing-text {
    font-size: larger;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    border-bottom: 1px solid white;
    padding: 15px;
  }
  
  
  
  #about-me-container {
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;  
    height: auto;
    width: 600px;
    margin: 30px;
  }
}

@media screen and (min-width: 1000px) {
  
  #project-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;  
    height: 950px;
    width: 300px;
    margin: 10px 10px 10px 10px;
    padding-right: 35px;
    padding-left: 35px;

  }
  
}


@media screen and (min-width: 1400px) {
  
  #about-me-container {
    margin: 125px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  
  .about-body {
    font-size: larger;
    line-height: 2em;
    margin: 100px;
  }
}


@media screen and (min-width: 1600px) {
  
  #about-me-container {
    /* margin: 225px; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  
  .about-body {
    font-size: larger;
    line-height: 2em;
    margin: 400px;
  }
}